<div style="margin-top: 1rem;margin-bottom: 3rem;">
    <span>Aggiungi chi ha utilizzato quale attrezzo e la sua quantità:</span>
    <span>(assicurati di usare sempre lo stesso nome per l'attrezzo)</span>
</div>

<mat-form-field style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;margin-left: auto;margin-right: auto;" appearance="fill">
    <mat-label>Lavoratore</mat-label>
    <input matInput [(ngModel)]="worker">
    <!-- <button mat-icon-button matSuffix [attr.aria-label]="'Name'"><mat-icon>perm_identity</mat-icon></button> -->
</mat-form-field>

<mat-form-field style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;margin-left: auto;margin-right: auto;" appearance="fill">
    <mat-label>Attrezzo</mat-label>
    <input matInput [(ngModel)]="tool">
    <!-- <button mat-icon-button matSuffix [attr.aria-label]="'Name'"><mat-icon>perm_identity</mat-icon></button> -->
</mat-form-field>

<mat-form-field style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;margin-left: auto;margin-right: auto;" appearance="fill">
    <mat-label>Quantità</mat-label>
    <input matInput [(ngModel)]="quantity" type="number">
</mat-form-field>

<span style="margin-top: 3rem;display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;">
    <button style="background-color: green;color: white;" (click)="addHistory()" mat-raised-button>Aggiungi allo storico</button>
</span>

<span style="margin-top: 3rem;display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;">
    <button [mat-dialog-close]="histos" style="background-color: red;color: white;" mat-raised-button>
        <mat-icon aria-hidden="false" aria-label="Exit">exit_to_app</mat-icon>
    </button>
</span>

