
<mat-expansion-panel *ngIf="user!=='default'" style="width: 80%;margin-bottom: 2rem;margin-left: auto;margin-right: auto;background-color: rgba(0, 47, 255, 0.308)">
    
  <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Reparti</b>
      </mat-panel-title>
      <mat-panel-description>
        Aggiungi una nuovo reparto al tuo magazzino
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div style="margin-top:1rem;margin-bottom: 2rem;display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;" class="example-button-container">
      <button (click)="addNewCategory()" mat-mini-fab style="background-color: rgba(255, 200, 50, 0.801);" aria-label="Example icon button with a plus one icon">
        <mat-icon>plus_one</mat-icon>
      </button>
  </div>

</mat-expansion-panel>


<mat-expansion-panel *ngIf="user!=='default'" style="width: 80%;margin-bottom: 2rem;margin-left: auto;margin-right: auto;background-color: rgba(0, 47, 255, 0.308)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Attrezzi</b>
      </mat-panel-title>
      <mat-panel-description>
        Guarda la lista di attrezzi o aggiungine uno
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div style="margin-top:1rem;margin-bottom: 2rem;display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;" class="example-button-container">
        <button (click)="openWindowAddTool()" mat-mini-fab style="background-color: green;" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
    </div>

    <mat-form-field style="margin-top:1rem;margin-bottom: 2rem;display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;" appearance="fill">
      <mat-label>Scegli un reparto</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;" *ngIf="showLoading && selectedCategory.length>0" class="lds-circle"><div></div></div>

    <div style="max-height: fit-content;" *ngIf="tools.length>=0">
        <table style="margin-right: auto;margin-left: auto;width: 80%;" mat-table [dataSource]="tools" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell style="justify-content: center;text-align: center;" *matHeaderCellDef> Nome attrezzo </th>
            <td mat-cell style="justify-content: center;text-align: center;" *matCellDef="let element">{{element.name}}</td>
            </ng-container>
        
            <!-- Position Column -->
            <ng-container matColumnDef="category">
            <th mat-header-cell style="justify-content: center;text-align: center;" *matHeaderCellDef> Category </th>
            <td mat-cell style="justify-content: center;text-align: center;" *matCellDef="let element">{{element.category}}</td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="quantity">
            <th mat-header-cell style="justify-content: center;text-align: center;" *matHeaderCellDef> Quantità </th>
            <td mat-cell style="justify-content: center;text-align: center;" *matCellDef="let element">{{element.quantity}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="last_update">
            <th mat-header-cell style="justify-content: center;text-align: center;" *matHeaderCellDef> Ultima modifica </th>
            <td mat-cell style="justify-content: center;text-align: center;" *matCellDef="let element"> {{element.last_update}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="last_user">
            <th mat-header-cell style="justify-content: center;text-align: center;" *matHeaderCellDef> Ultimo utilizzatore </th>
            <td mat-cell style="justify-content: center;text-align: center;" *matCellDef="let element"> {{element.last_user}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="missing">
            <th mat-header-cell style="justify-content: center;text-align: center;" *matHeaderCellDef> Notifiche rifornimento </th>
            <td mat-cell style="justify-content: center;text-align: center;" *matCellDef="let element">
              <span *ngIf="element.quantity<=element.threshold">
                <mat-icon style="color:red">report_problem</mat-icon>
              </span>
              <span *ngIf="element.quantity>element.threshold">
                <mat-icon style="color:green">check_circle</mat-icon>
              </span>
            </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="delete">
            <th mat-header-cell style="justify-content: center;text-align: center;" *matHeaderCellDef> Elimina </th>
            <td mat-cell style="justify-content: center;text-align: center;" *matCellDef="let element">
              <button (click)="deleteTool(element.name)" mat-icon-button style="color:red" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

  </mat-expansion-panel>

<mat-expansion-panel *ngIf="user!=='default'" style="width: 80%;margin-bottom: 2rem;margin-left: auto;margin-right: auto;background-color: rgba(0, 47, 255, 0.308)">
    
    <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Storico</b>
        </mat-panel-title>
        <mat-panel-description>
          Aggiungi storico degli attrezzi
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div style="margin-top:1rem;margin-bottom: 2rem;display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;" class="example-button-container">
        <button (click)="openWindowAddHistory()" mat-mini-fab style="background-color: red;" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
    </div>

</mat-expansion-panel>

<div *ngIf="user==='default'">
  <div style="margin-top: 7rem;display: flex;justify-content: center;text-align: center;">
    <a mat-raised-button color="warn" routerLink="/login">Accedi di nuovo</a>
  </div>
</div>

<br>
<br>
<br>